.certificate__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.certificate__container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.certificate__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.certificate__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.certificate__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
}

.certificate__content_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

.certificate__details {
  display: flex;
  gap: 1rem;
}

.certificate__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}

/* --------------MEDIA QUERIES (MEDIUM DEVICES)-------------------- */
@media screen and (max-width: 1024px) {
  .certificate__container {
    grid-template-columns: 1fr;
  }

  .certificate__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .certificate__content {
    padding: 1rem;
  }
}

/* --------------MEDIA QUERIES (SMALL DEVICES)-------------------- */
@media screen and (max-width: 600px) {
  .certificate__container {
    gap: 1rem;
  }

  .certificate__container > div {
    width: 100%;
    padding: 2rem 0;
    margin: 0 auto;
  }

  .certificate__content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}
